/**********************
*** Font Definitions **
**********************/

$font-stack: "Helvetica Neue", Segoe UI, Helvetica, Arial, sans-serif;

/**********************
** Color Definitions **
**********************/

$primary-color: #f73f51;
$border-color: #e6e6e6;
$receive-msg-color: #f1f0f0;
$send-msg-color: #fa3c4c;
$white: #fff;
$black: #000000;

/**********************
*** URL Definitions ***
**********************/

$body-bg: url(../assets/images/background.png);

/**********************
***** Box Shadow ******
**********************/

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

/**********************
*** Border Radius *****
**********************/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/**********************
***** Transitions *****
**********************/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

/**********************
**** Media Queries ****
**********************/

$large-mobile-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin medium {
  @media (min-width: #{$tablet-width + 1px}) and (max-width: #{$desktop-width}) {
    @content;
  }
}
@mixin below-medium {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin below-large-mobile {
  @media (max-width: #{$large-mobile-width}) {
    @content;
  }
}

/**********************
**** General Page *****
**********************/

html {
  font-size: 14px;
}

body {
  background: $body-bg;
}
.container-fluid {
  padding: 0;
}
.red-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 114px;
  z-index: 0;
  background-color: $primary-color;
  @include box-shadow(0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 255));
}
#main-content {
  background: $white;
  padding: 0;
}
#msg-header {
  text-align: center;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  border-bottom: solid 1px $border-color;
  max-height: 144px;
  min-height: 18px;
  vertical-align: middle;
  padding: 10px 0;
  margin: 0;
  .logo {
    max-width: 28px;
    height: auto;
    display: inline-block;
  }
}
#title {
  text-align: center;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  border-bottom: solid 1px $border-color;
  max-height: 144px;
  min-height: 18px;
  vertical-align: middle;
  padding: 10px 0;
  margin: 0;
  img {
    max-width: 28px;
  }
  > span {
    margin-left: 10px;
  }
}

/**********************
***** Card Style ******
**********************/

#left-panel {
  padding-right: 0;
}
#right-panel {
  padding-left: 0;
}
#left-panel > .card, #right-panel > .card {
  margin: 10px;
  border-color: $white;
  background: $white;
}
.card {
  text-align: center;
  @include box-shadow(0 0 5px 0 rgba(0,0,0,0.75));
  @include below-medium {
    display: none;
  }
  .card-block h4 {
    margin-top: 0;
      color: #333;
  }
  .card-block p.card-text {
    color: #333;
  }
}
.btn-card {
  background: $primary-color;
  border: none;
  @include border-radius(2px);
  padding: 7px 10px;
}

.card {
  text-align: center;
  @include box-shadow(0 0 5px 0 rgba(0,0,0,0.75));
  @include below-medium {
    display: none;
  }
  h4 {
    margin-top: 0;
  }
  .btn-card {
    background: $primary-color;
    border: none;
    @include border-radius(2px);
    padding: 7px 10px;
  }
}

#right-panel .btn-card {
  background: green;
  border: none;
  @include border-radius(2px);
  padding: 7px 10px;
}

#main-content {
  @include below-large-mobile {
    padding: 0 10px;
  }
}

/**********************
** Messenger Style ****
**********************/

.controls {
  width: 100%;
}
#field {
  width: 90%;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  resize: none;
  outline: none;
  border: none;
  max-height: 144px;
  min-height: 18px;
  vertical-align: middle;
  padding: 16px 8px 16px 12px;
  margin: 0;
}
.bubble {
  max-width: 55%;
  padding: 6px 12px;
  margin: 1px 0;
  white-space: pre-wrap;
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  line-break: strict;
  hyphens: none;
}
.left {
  float: left;
  color: $black;
  background: $receive-msg-color;
}
.right {
  float: right;
  color: $white;
  background: $send-msg-color;
}
.ltop {
  margin-top: 15px;
  @include border-radius(1.3em 1.3em 1.3em 4px);

}
.lmiddle {
  @include border-radius(4px 1.3em 1.3em 4px);

}
.lbottom {
  @include border-radius(4px 1.3em 1.3em 1.3em);

}
.rtop {
  margin-top: 15px;
  @include border-radius(1.3em 1.3em 4px 1.3em);

}
.rmiddle {
  @include border-radius(1.3em 4px 4px 1.3em);

}
.rbottom {
  @include border-radius(1.3em 4px 1.3em 1.3em);

}
.single {
  @include border-radius(1.3em);
  margin-top: 15px;
}
.title {
  display: inline-block;
  float: left;
}
#content {
  font-family: $font-stack;
  font-size: 14px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  border-bottom: solid 1px $border-color;
  overflow-y: scroll;
  padding: 0 30px 0 12px;
  margin: 0;
}
.clearfix {
  zoom: 1;
  &:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}

/**********************
** Animation Styles ***
**********************/

@-webkit-keyframes animateLeft {
  20% {
    opacity: 1;
    @include translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    @include translate3d(-2000px, 0, 0);
  }
}
@keyframes animateLeft {
  20% {
    opacity: 1;
    @include translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    @include translate3d(-2000px, 0, 0);
  }
}
.animateLeft {
  animation-name: animateLeft;
}
@-webkit-keyframes animateRight {
  from {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    opacity: 0;
    @include translate3d(3000px, 0, 0);
  }
  60% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    opacity: 1;
    @include translate3d(-25px, 0, 0);
  }
  75% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    @include translate3d(10px, 0, 0);
  }
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    @include translate3d(-5px, 0, 0);
  }
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: none;
  }
}
.animateRight {
  animation-name: animateRight;
}
#left-panel > .ng-leave {
  animation: animateLeft 1s;
}
#right-panel > .ng-enter {
  animation: animateRight 1s;
}